{
  "data_dir": "/var/consul/data",
  "ui_dir": "/var/consul/webui",
  "log_level": "INFO",
  "leave_on_terminate": true,
  "client_addr": "0.0.0.0",
  "disable_update_check": true,
  "bootstrap_expect": 3,
  "retry_interval": "15s",
  "server": true,
  "encrypt": "{{{gossipEncryptionToken}}}",
  "ports": {
    "dns": -1,
    "http": 8580,
    "https": 8500,
    "rpc": 8400,
    "serf_lan": 8301,
    "serf_wan": 8302,
    "server": 8300
  },
  "performance": {
    "raft_multiplier": 1
  },
  "verify_outgoing": true,
  "verify_incoming": true,
  "ca_file": "/etc/consul/ca.pem",
  "cert_file": "/etc/consul/cert.pem",
  "key_file": "/etc/consul/key.pem",
  "disable_remote_exec": true,
  "acl_datacenter": "{{{datacenter}}}",
  "acl_master_token": "{{{aclMasterToken}}}",
  "acl_default_policy": "deny",
  "acl_down_policy": "deny"
}
