{
    "listener": {
        "tcp": {
            "address": "0.0.0.0:8200",
            "tls_cert_file": "/etc/vault/cert.pem",
            "tls_key_file": "/etc/vault/key.pem",
            "tls_min_version": "tls12"
        }
    },
    "backend": {
        "consul": {
            "scheme": "https",
            "address": "127.0.0.1:8500",
            "path": "vault",
            "datacenter": "{{{datacenter}}}",
            "tls_ca_file": "/etc/consul/ca.pem",
            "tls_cert_file": "/etc/consul/cert.pem",
            "tls_key_file": "/etc/consul/key.pem",
            "tls_skip_verify": "true",
            "token": "{{{aclToken}}}"
        }
    },
    "default_lease_ttl": "1h",
}