{
    "listener": {
        "tcp": {
            "address": "0.0.0.0:8200",
            "tls_cert_file": "/etc/vault/cert.pem",
            "tls_key_file": "/etc/vault/key.pem",
            "tls_min_version": "tls12"
        }
    },
    "storage": {
        "s3": {
            "bucket": "dynamo-vault-storage",
            "region": "us-west-2"
        }
    },
    "ha_storage": {
        "dynamodb": {
            "ha_enabled": "true",
            "region": "us-west-2",
            "read_capacity":"1000",
            "write_capacity":"1000",
            "table": "dynamo-vault-storage-backend-3"
        }
    },
    "default_lease_ttl": "1h",
}